.products__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}
.products__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 8);
  background: #0fa3b1;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #457b9d;
  border-radius: 10px 10px 30px 10px;
  box-shadow: 4px 4px 8px 0px rgba(22, 106, 170, 0.2);
}
.products__item:nth-child(even) {
  border-radius: 30px 10px 10px 10px;
}
.pagination {
  margin: 20px 0;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.pages__button {
  background: #0fa3b1;
  padding: 5px;
  width: 100px;
  border: 1px solid #0fa3b1;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.pages__button:hover {
  background: white;
  color: #0fa3b1;
}
.current__button {
  background: #0fa3b1;
  padding: 5px;
  width: 100px;
  border: 1px solid #0fa3b1;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.spinner__container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
